/* Portrait tablet and small desktops */
@media (max-width: 940px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {}

/* iPhone 5 / SE */
@media (max-width: 350px) {
  .modalContent {
    width: 280px;
  }
  .plant {
    position: relative;
    width: 300px;
    height: 220px;
  }

  .plantSelfie {
    height: 220px;
  }
}