// NAV
.mainNavigation {
  background-color: #565d46;
  position: fixed;
  width: 100%;
  z-index: 60;
  height:70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    li {
      padding: 0px 50px;
      font-size: 1.9rem;
      margin:0;
      font-family: 'Roboto', sans-serif;
      // text-transform: uppercase;
      text-align: center;
      .text{
        // text-decoration: underline;
        margin:0;
        font-size: 1rem;
      }
    }
  }
}

// .google {
//   margin-bottom:-2px;
//   width: 1.6rem;
//   height: auto;
// }

.logOutBtn, .logInBtn,  
.addPlantBtn {

  color: white;
}

.googleBtn{
  width:200px;
  padding-top:10px;
  color: #cccccc;
}


/////////////////////////////////////
// Media Queries
/////////////////////////////////////
@media (max-width: 325px){

  .mainNavigation {
  max-height:8vh;
  height: 8vh;
  bottom: 0;
  padding: 20px;
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0px 50px;
      font-size: 1.8rem;
      margin:0;
      .text{
        margin:0;
        font-size: 1rem;
      }
    }
  }
}

}