@import url('https://fonts.googleapis.com/css?family=Sacramento');


/////////////////// MOBILE ////////////////////////////////


.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-image: url("../../assets/malte-michels-716678-unsplash.jpg");
  background-image: url("../assets/bg-plant-girl1.png");
  background-position: 68% 0;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  // height: calc(100vh - 60px);
  height: 100vh;
  overflow: scroll;

  .wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
    padding: 0 25px;

    .welcomeHeading {
      color: #fff;
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
      line-height: 1;
      margin: 10 0;
    }

    .welcomeCopy {
      color: #fff;
      margin: 0;
      font-size: 1.4rem;
      text-align: center;
      line-height: 1.25;
      font-family: 'Montserrat', Arial, sans-serif;
    }
  }
}


/////////////////////////////////////
// Media Queries
/////////////////////////////////////


/////////////////// DEKSTOP ////////////////////////////////


@media (min-width: 768px) {

  .welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    // background-image: url("../assets/malte-michels-716678-unsplash.jpg");
    background-image: url("../assets/bg-plant-girl1.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 80vh;
    overflow: scroll;

    .wrapper {
      height: 100vh;
      display: flex;
      // justify-content: flex-end;
      align-items: center;
      .welcomeContainer{
        position:absolute;
        right:150px;
        top:200px;
      }
      .welcomeHeading {
        color: #fff;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 6rem;
        font-weight: 900;
        text-align: left;
      }

      .welcomeCopy {
        width:550px;
        color: #fff;
        margin: 0;
        font-size: 1.6rem;
        text-align: left;
        line-height: 1.25;
        font-family: 'Montserrat', Arial, sans-serif;
      }
    }
  }
  .welcomeSteps{
    height:100vh;
  }
}


//////////////////// IPHONE SE / 5 //////////////////////////////

// @media (max-width: 325px){
//     
// }