@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Roboto:400,700&display=swap');


/////////////////// MOBILE ////////////////////////////////


.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-image: url("../../assets/malte-michels-716678-unsplash.jpg");
  background-image: url("../assets/bg-plant-woman.jpeg");
  background-position: 30% 0;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  // height: calc(100vh - 60px);
  height: 100vh;
  overflow: scroll;

      .logoko {
        margin: 25px 0;
        width: 150px;
        height: auto;
        justify-self: start;
      }

  .welcomeWrapper {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0 25px 50px 25px;
    .welcomeContainer{
      width: 90%;

    .welcomeHeading {
      color: #fff;
      font-family: 'Montserrat', Arial, sans-serif;
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
      line-height: 1;
      margin: 10 0;
    }

    .welcomeCopy {
      color: #fff;
      margin: 0;
      font-size: 1.4rem;
      text-align: center;
      line-height: 1.25;
      font-family: 'Montserrat', Arial, sans-serif;
    }
  }
  }
}




/////////////////////////////////////
// Media Queries
/////////////////////////////////////


/////////////////// DEKSTOP ////////////////////////////////


@media (min-width: 768px) {

  .welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    // background-image: url("../assets/malte-michels-716678-unsplash.jpg");
    background-image: url("../assets/bg-plant-woman.jpeg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 100vh;
    overflow: scroll;
    padding:0 50px;

          .logoko {
            margin: 25px 0;
            width: 150px;
            height: auto;
            align-self: center;
          }


    .welcomeWrapper {
      height:100%;
      width:95%;
      max-width:1400px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      position:relative;

      .welcomeContainer{
        position:absolute;
       margin-top: -200px;
       width:100%;
        max-width:600px;
      
      .welcomeHeading {
        // color: #fff;
        color: #fff;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 4rem;
        font-weight: 900;
        text-align: left;
        margin:20px 0;
      }
      .welcomeSubHeading {
        color:#fff;
        font-family: 'Montserrat', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 900;
        text-align: left;
      }

      .welcomeCopy {
        color: #fff;
        margin: 0;
        font-size: 1.6rem;
        text-align: left;
        line-height: 1.25;
        font-family: 'Montserrat', Arial, sans-serif;
      } //closing welcomeCopy
    }//closing welcome container
    }//closing welcome wrapper
  }//closing welcome
}//closing media query




