 .App {
  text-align: center;
 }


// NAV

.mainNavigation {
  background-color:lightgreen;
  position:fixed;
  width:100%;
  z-index: 60;
  // height:50px;
  bottom:0;
  display:flex;
   justify-content: center;
  ul{
    display:flex;
    margin:0;
    list-style-type: none;
    justify-content: space-around;
    li{
      padding:25px,
    }
  }
}

// MODAL FORM
.modalStyle{
   z-index: 50;
   position: fixed;
   width:100%;
   height:100%;
   bottom:0;
   left:0;
   right:0;
   background-color: rgba(255, 255, 0, 0.75);

}

.formWrapper {
  margin: 0 auto;
  max-width: 420px;
}

form {
  display: flex;
  flex-direction: column;
}



// MODAL FORM ENDS

//LISTING
.plantList {
  margin-bottom:100px;
}

//LISTING ENDS

//CARD

.plantSelfie {
  max-width: 150px;
  height: 200px;

}

img {
  width:100%;
  height:100%;
  // display:block;
  object-fit: cover;
}

/* card flip starts */

#plantCard {
  position: relative;
  width: 500px;
  height: 300px;
  z-index: 1;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  
}

.cardFront {
  background-color: #97BDC4;
  text-align: center;
  color: #fff;
  border: 2px solid #A52D2D;
  width: inherit;
  height: inherit;
  z-index: 900;
  // -webkit-transform: rotateX(0deg) rotateY(0deg);
  // -moz-transform: rotateX(0deg) rotateY(0deg);
  // -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  // -webkit-transition: all .4s ease-in-out;
  // -moz-transition: all .4s ease-in-out;
  // -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  // -webkit-transform-style: preserve-3d;
  // -moz-transform-style: preserve-3d;
  // -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  // -webkit-backface-visibility: hidden;
  // -moz-backface-visibility: hidden;
  // -o-backface-visibility: hidden;
  backface-visibility: hidden;

  display:flex;
}

.cardFront a {
  color: #A52D2D;
  font-weight: 400;
}

#plantCard.flip .cardFront {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -mox-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.cardBack {
  display: block;
  z-index: 800;
  margin-top: -300px;
  width: inherit;
  height: inehrit;
  box-sizing: border-box;
  padding: 10px;
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
  background-color: #E9F0F1;
  border: 8px solid #97BDC4;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#plantCard.flip .cardBack {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}


/* card flip ends */

//CARD ENDS