 @import "./partials/_setup.scss";
 @import "./partials/_cards.scss";

 .App {
   position: relative;
 }

 html {
   font-size: 62.5%;
 }

 body {
   font-size: 1.6rem;
   background-color: #fff;
 }

 p {
   font-size: 1.4rem;
   font-family: 'Roboto', sans-serif;
   margin: 5px 0;
 }

 fieldset {
   border: none;
   padding: 0;
 }

 .plantTypeRadio,
 .plantSunshineAmountRadio,
 .plantWaterFreqRadio {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

   div {
     display: flex;
     align-items: center;
     padding-right: 15px;
     flex: 1 0 50%;

     input {
       height: 3rem;
       width: 3rem;
     }

     label {
       font-size: 1.4rem;
     }
   }
 }

 // NAV
 .mainNavigation {
   background-color: lightgreen;
   position: fixed;
   width: 100%;
   z-index: 60;
   // height:50px;
   bottom: 0;
   display: flex;
   justify-content: center;

   ul {
     display: flex;
     margin: 0;
     list-style-type: none;
     justify-content: space-around;

     li {
       padding: 25px,
     }
   }
 }

 // MODAL FORM
 .modalStyle {
   z-index: 7000;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .modalContent {
   width: 300px;
 }

 .formWrapper {
   margin: 0 auto;
   //  max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   width: 100%;
   height: 100vh;
   overflow-y: auto;
 }

 .quest {
   margin-bottom: 25px;
 }

 form {
   margin-bottom: 150px;
   padding: 0;
   .plantName,
   .plantSpecies,
   .plantWaterQuant, .plantCare {
     border: 0;
     margin-top: 25px;
     width: 100%;
     display: flex;
     flex-direction: column;
     font-family: 'Roboto', sans-serif;
     -webkit-appearance: none;
     border-radius: 0;
     label {
       font-size: 2rem;
       margin-bottom:5px;
     }
     input {
       border-top: none;
       border-right: none;
       border-left: none;
       border-bottom: 1px solid #4a4a4a;
       background: transparent;
       font-size: 1.6rem;
     }
    textarea {
      resize: none;
      // border-top: none;
      // border-right: none;
      // border-left: none;
      // border-bottom: 1px solid #4a4a4a;
    }
   }
   .plantTypes, .plantPic,
   .plantWaterFreq,
   .plantSunExposure {
     p{
       font-size: 2rem;
       margin-bottom:25px;
     }
   }
 }
.btnContainer{
  display:flex;
  justify-content: center;
}
 .btn {
   padding: 10px 25px;
   margin: 10px;
   flex: 1 0 calc(50% - 10px);
 }

 .btnSubmit {
margin-right: 10px;
 }
 .btnClose{
margin-left: 10px;
 }

 // MODAL FORM ENDS
 //LISTING
 .plantList {
   margin-bottom: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 //LISTING ENDS